/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.logs {
    padding: 20px;
}

.light-bulb {
    padding: 20px;
}

.light-bulb-image {
    max-height: 50vh;
    display: none;
}

.light-bulb.is-on .light-bulb-image-on {
    display: block;
}

.light-bulb.is-off .light-bulb-image-off {
    display: block;
}